@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);

}

.main-container {
    overflow: hidden;
}

.card-container {
    height: 200px;
    width: 140px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    animation: slideup 2s ease-in-out;
}


@keyframes slideup {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

.container {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
}

.overlay {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    height: 0;
    transition: 0.5s ease;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    /* border:3px solid red; */

}

.card-container:hover .overlay {
    visibility: visible;
    height: 60%;
    bottom: 0;
}

.title {

    letter-spacing: 1px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

}

.overview {
    margin-bottom: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.rating {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    font-size: 14px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

}

.header-title {
    gap: 10px;
    display: flex;
    font-size: 40px;
    font-weight: bold;

}

.search-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.search-input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.80);
}



/* movie page */

.backdrop {
    z-index: -3;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.backdrop-overlay {
    z-index: -2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.movie-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.mp-poster img {
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    animation: appear 2s ease-in-out;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
}




.mp-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    max-width: 600px;
}

.mp-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.mp-tagline {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);

}

.mp-overview {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 23px;
}




.genre-container {
    display: flex;
    justify-content: flex-start;

}

.genre {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    margin: 0 20px 0 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}


.video {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 12px 0px 0px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.2);
    animation: video 2s ease-in-out;
}

.youtube-icon {
    width: 50px;
    height: 50px;
    transition: 0.4s;
}

.video:hover {
    background: rgb(221, 41, 37);
    color: white;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.2);
}



.l1,
.l2,
.l3,
.l4,
.l5,
.l6 {
    font-family: 'Rammetto One', cursive;
    margin-right: 5px;
    margin-top: 15px;
}

.l1 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.1s;
}

.l2 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.2s;
}

.l3 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.3s;
}

.l4 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.4s;
}

.l5 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.5s;
}

.l6 {
    animation: letter 3s ease-out infinite;
    animation-delay: 0.6s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes letter {
    0% {
        color: rgb(221, 41, 37);
    }

    50% {
        color: rgb(255, 255, 255);
    }

    100% {
        color: rgb(221, 41, 37);
    }
}

@keyframes video {
    0% {
        color: rgb(221, 41, 37);
    }

    100% {
        color: white;
    }
}

/* loading animation */

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dot {
    border-radius: 8px;
    width: 50px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    animation: updown 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.dot2 {
    animation-delay: 0.1s;
}

.dot3 {
    animation-delay: 0.2s;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-60px);
    }
}



/* 
media queries!!!!!!!! 
media queries!!!!!!!! 
media queries!!!!!!!! 
media queries!!!!!!!! 
media queries!!!!!!!! 
media queries!!!!!!!! */

@media screen and (min-width: 700px) {
    .card-container {
        height: 260px;
        width: 180px;
        margin: 20px;
    }

    .movie-page-container {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .mp-poster {
        flex: 1;
    }

    .mp-info {
        flex: 1.5;
    }

    .main-container {
        max-width: 1440px;
        overflow: hidden;
    }
}